.logo{
  padding: 5px;
}
/*
  BUTTONS
*/
.btn-order{
  transform: translateX(-50%);
  margin: 5px 0 5px 50%;
}
.btn-login, .btn-signup{
  margin-left: 50%;
  transform: translateX(-50%);
}
.btn-close{
  float: right;
  font-size: 15px;
}
/*
    TEXTS
*/
.text-copyright{
  margin: 5px;
  display: inline-block;
}
.text-contacts{
  color: #b9b9b9;
}
.text-social-media{
  display: inline-block;
  margin: 0;
}

/*
  FOOTER SPECIFIC
*/
.footer-margin-adjustment{
  margin-bottom: 0;
}
#map {
  height: 140px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
}

/*
    ICONS
*/
.social-media-icons{
  display: inline-block;
  float: right;
}

.material-icons{
  display: inline-flex;
  vertical-align: top;
}
.fa-facebook:hover{
  color: #3B5998;
  transition: 1s;
}
.fa-twitter:hover{
  color: #00aced;
  transition: 1s;
}
.fa-youtube:hover{
  color: #cc181e;
  transition: 1s;
}
.fa-instagram:hover{
  color:  #e95950;
  transition: 1s;
}
.icon-size{
  font-size: 27px;
}

/*
    LOGIN
*/

.login-form, .signup-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  width: 260px;
  margin: 5px auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  z-index: 10;
  padding: 4px 7px 8px 7px;
}

/*
    ORDER
*/
.order-navigation{
    z-index: 10;
}

